/* General Layout and Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1vw 0;
    text-align: center;
}

/* Flex container setup */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Main content with responsive width */
main {
    flex-grow: 1;
    width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vw 0;
    width: 100%;
    font-size: 1vw;
}

h1 {
    margin: 0;
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

/* Tab Navigation Styling */
.tab {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 1vw 0;
}

.tab a {
    color: white;
    text-decoration: none;
    padding: 1vw 1.5vw;
    margin: 0 0.5vw;
    font-weight: bold;
    font-size: 1vw;
}

.tab a:hover {
    background-color: #555;
    border-radius: 0.4vw;
}

.tab a.active {
    background-color: #444;
    border-radius: 0.4vw;
}

.tabcontent {
    display: none;
    padding: 2vw;
    border-top: none;
}

/* Main Content Styling */
main {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2vw;
}

table th, table td {
    border: 0.1vw solid #ddd;
    padding: 0.8vw;
    text-align: left;
    font-size: 1vw;
}

table th {
    background-color: #f8f8f8;
    white-space: nowrap;
    padding: 1vw;
    text-align: left;
    font-size: 1vw;
}

/* Button Styling */
.button-container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

a.button {
    display: inline-block;
    padding: 1vw 2vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    background-color: #333;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 0.4vw;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #444;
}

a.button.edit-button {
    background-color: #1898f4;
}

a.button.delete-button {
    background-color: #e43838;
}

a.button.edit-button:hover {
    background-color: #0c81d5;
}

a.button.delete-button:hover {
    background-color: #c93030;
}

button.add-new-button {
    font-size: 1vw;
    background-color: #72BF78;
}

button.add-new-button:hover {
    background-color: #5e9c63;
}

ul {
    padding-inline-start: 1vw;
}

ul li {
    font-size: 1vw;
}

/* Input, Textarea, Checkbox, and Date Styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea,
select {
    padding: 0.8vw;
    width: 100%;
    max-width: 40vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #ddd;
    border-radius: 0.4vw;
    font-size: 1vw;
}

textarea {
    height: 10vw;
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 0.8vw;
    transform: scale(1.2);
    vertical-align: middle;
}

.form-container {
    margin: 2vw 0;
    padding: 2vw;
    display: none;
    background-color: #f9f9f9;
    border: 0.1vw solid #ddd;
    border-radius: 0.4vw;
}

.form-container h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 1.5vw;
}

.search-result {
    text-decoration: none;
    color: #131313;
}

.search-result:hover {
    background-color: #F4CE14;
}

.trash-bin {
    color: #e43838;
}

.trash-bin:hover {
    color: #c93030;
}

label {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
    display: block;
}

/* Error Message Styling */
.error-message {
    color: #d9534f;
    font-size: 1.4vw;
    margin-top: 0.5vw;
}

/* Submit Button Styling */
form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.8vw 2vw;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 0.4vw;
    transition: background-color 0.3s;
}

.filter-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.filter-button:hover {
    background: none;
}

/* Clear Filter Button Styling */
.clear-filter-button {
    background-color: #f0ad4e;
    color: #fff;
    padding: 0.8vw 2vw;
    margin: 1vw 0;
    border: none;
    border-radius: 0.4vw;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-filter-button:hover {
    background-color: #ec971f;
}

.clear-filter-button:disabled {
    background-color: #e0e0e0;
    color: #ccc;
    cursor: not-allowed;
}

form button[type="submit"]:hover {
    background-color: #444;
}

/* Footer Styling */
footer {
    bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vw 0;
    width: 100%;
}

/* Custom Styling for Search Input */
#search-books {
    padding: 1vw;
    width: 100%;
    margin: 2vw 0;
    border: 0.1vw solid #ddd;
    border-radius: 0.4vw;
}

/* Section Button Styling */
.section-button {
    margin-bottom: 2vw;
}

.section-button button {
    color: #fff;
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Catalog and Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 2vw 0;
}

.pagination ul {
    display: flex;
    gap: 0.8vw;
    padding: 0;
    list-style-type: none;
}

.pagination .page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: var(--black);
    background-color: #f0f0f0;
    padding: 1vw 1.4vw;
    border-radius: 0.4vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: 0.1vw solid #ddd;
}

.pagination .page-item .page-link:hover {
    background-color: var(--green);
    color: #131313;
}

.pagination .page-item.active .page-link {
    background-color: var(--dark-color);
    color: #131313;
    border: 0.1vw solid var(--dark-color);
    cursor: default;
}

.pagination .page-item .page-link[aria-disabled="true"] {
    color: var(--light-color);
    cursor: not-allowed;
    background-color: #e0e0e0;
    pointer-events: none;
}

.pagination .page-link span {
    display: inline-block;
    font-weight: bold;
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
    /* General font and layout adjustments */
    header, footer {
        font-size: 2.8vw;
        padding: 2vw 0;
    }

    main {
        width: 95vw;
        padding: 3vw;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 5vw;
    }

    ul {
        padding-inline-start: 1vw;
    }

    ul li {
        font-size: 4vw;
    }

    button.add-new-button {
        font-size: 3vw;
        background-color: #72BF78;
    }
.section-button button {
    color: #fff;
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.8vw;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

    form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.8vw 2vw;
    font-size: 3.5vw;
    cursor: pointer;
    border-radius: 0.8vw;
    transition: background-color 0.3s;
}

    label {
        font-size: 3vw;
        font-weight: bold;
        margin-bottom: 0.5vw;
        display: block;
    }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea,
select {
    padding: 0.8vw;
    width: 100%;
    max-width: 40vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #ddd;
    border-radius: 0.8vw;
    font-size: 3.5vw;
}

textarea {
    height: 10vw;
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 0.8vw;
    transform: scale(1.2);
    vertical-align: middle;
}

    /* Tab Navigation - optimized for mobile */
    .tab {
        padding: 2vw 0;
    }

    .tab a {
        padding: 3vw 3.8vw;
        font-size: 3vw;
    }
}