{% extends 'base/base.html' %}
{% load static %}
{% block content %}
        <section id="base">
            {% include 'base/include/form.html' %}
            <table>
                <thead>
                    <tr>
                        {% for field in fields %}
                            <th>{{field}}</th>
                        {% endfor %}
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="books-table-body">
                    {% for obj in object_list %}
                    <tr>
                        <!-- FIELDS -->
                            <td>{{obj.id}}</td>
                            <td>{{obj.first_name}}</td>
                            <td>{{obj.last_name}}</td>
                            <td>{{obj.slug}}</td>
                            <td>{{obj.bio}}</td>
                        <td>
                            <button onclick="updateBook(this)">Оновити</button>
                            <button onclick="deleteBook(this)">Видалити</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock content %}