{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Readery
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'base/img/logo-2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Книжковий Магазин</h1>
    </header>

    <div class="tab">
        <a href="{% url 'book_list' %}">Книги</a>        
        <a href="{% url 'author_list' %}">Автори</a>
        <a href="{% url 'genre_list' %}">Жанри</a>
        <a href="{% url 'orderitem_list' %}">Замовлення</a>
        <a href="{% url 'bill_list' %}">Рахунки</a>
    </div>

    <main>
        {% block content %}
        {% endblock %}
        {% include 'base/include/pagination.html' %}
    </main>

    <footer>
        <p>© 2024 Книжковий Магазин. Всі права захищені.</p>
    </footer>

    <script src="{% static 'base/js/base.js' %}"></script>

</body>
</html>