{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section id="base">
        <h2>Список рахунків</h2>

        {% include 'base/include/search_bar.html' %}

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата</th>
                    <th>Загальна сума</th>
                    <th>Замовлені товари</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.id }}</td>
                        <td>{{ bill.date }}</td>
                        <td>{{ bill.total_amount }}</td>
                        <td>
                            <ul>
                                {% for item in bill.orderitem_set.all %}
                                    <li>
                                        {{ item.book.title }} - {{ item.quantity }} x {{ item.book.price }} грн
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}
