{% extends 'base/base.html' %}
{% load static %}
{% block content %}
        <section id="base">
            {% include 'base/include/form.html' %}
            <table>
                {% include 'base/include/model_fields.html' %}
                <tbody id="books-table-body">
                    {% for obj in object_list %}
                    <tr>
                        <!-- FIELDS -->
                            <td>{{obj.id}}</td>
                            <td>{{obj.isbn}}</td>
                            <td>{{obj.title}}</td>
                            <td>{{obj.slug}}</td>
                            <td>{{obj.author}}</td>
                            <td>{{obj.genre}}</td>
                            <td>{{obj.price}}</td>
                            <td>{{obj.publication_date}}</td>
                            <td>{{obj.description|truncatewords:7}}</td>
                            <td>{{obj.stock_quantity}}</td>
                            <td>
                                <div class="button-container">
                                    <a href="{% url 'update_book' obj.slug %}" class="button edit-button">Оновити</a>
                                    <a href="{% url 'delete_book' obj.slug %}" class="button delete-button">Видалити</a>
                                </div>
                            </td>                                                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock content %}